{% extends 'base.html.twig' %}

{% block title %}Mon DashBoard{% endblock %}

{% block body %}
    <section>

        <div class="container">

            <h1 class="mt-5">
                <i class="fas fa-exclamation-circle"></i>
                Concernant vos candidatures
            </h1>

            <p>Vous avez envoyé {{ totalApplies }} candidatures, dont {{ sentApplies }} qui sont encore "transmises".</p>

            <br>

            <p>Vous avez eu {{ interviewApplies }} candidatures avec entretien, {{ numCall }} entretien téléphonique
                et {{ acceptedApplies }} candidatures acceptées.</p>

            <br>

            <p>{% if noResponseApplies == 0 %} Aucune des {% else %}{{ noResponseApplies }}{% endif %} candidatures sont restées sans réponse et {{ refusedApplies }} candidatures sont refusées.</p>

            <br>
            {% set applies = 100 * refusedApplies // totalApplies %}
            <p>Vous avez {{ applies }}% de candidature refusées.</p>

            <h1 class="mt-5 mb-5">
                <i class="fas fa-star"></i>
                Dernières Candidatures
            </h1>

            <div class="row row-cols- row-cols-md-4 g-4">
                {% for appliesFor in apply_for | sort((a, b) => b.dateApplyFor <=> a.dateApplyFor)|slice(0, 8) %}
                    <div class="col">
                        <div class="card position-relative h-100 shadow-lg">
                            {% if appliesFor.status is same as 'Transmise' %}
                                <span class="position-absolute top-0 start-100 translate-middle p-2 bg-primary border border-light rounded-circle">
                                    <span class="visually-hidden">New alerts</span>
                                </span>
                            {% elseif appliesFor.status is same as 'Contact Téléphonique' %}
                                <span class="position-absolute top-0 start-100 translate-middle p-2 bg-warning border border-light rounded-circle">
                                    <span class="visually-hidden">New alerts</span>
                                </span>
                            {% elseif appliesFor.status is same as 'Entretien' %}
                                <span class="position-absolute top-0 start-100 translate-middle p-2 bg-info border border-light rounded-circle">
                                    <span class="visually-hidden">New alerts</span>
                                </span>
                            {% elseif appliesFor.status is same as 'Acceptée' %}
                                <span class="position-absolute top-0 start-100 translate-middle p-2 bg-success border border-light rounded-circle">
                                    <span class="visually-hidden">New alerts</span>
                                </span>
                            {% elseif appliesFor.status is same as 'Refusée' %}
                                <span class="position-absolute top-0 start-100 translate-middle p-2 bg-success border border-light rounded-circle">
                                    <span class="visually-hidden">New alerts</span>
                                </span>
                            {% elseif appliesFor.status is same as 'Sans Réponse' %}
                                <span class="position-absolute top-0 start-100 translate-middle p-2 bg-dark border border-light rounded-pill">
                                    <span class="visually-hidden">New alerts</span>
                                </span>
                            {% endif %}
                            <div class="card-body" style="background-color: #1f1f1f;">
                                <div class="card-title">
                                    {% if appliesFor.status is same as 'Refusée' %}
                                        <h5 class="line" style="color: #FAF9F9">{{ appliesFor.jobTitle }}</h5>
                                    {% else %}
                                        <h5 style="color: #FAF9F9">{{ appliesFor.jobTitle }}</h5>
                                    {% endif %}
                                    <div class="card-text">
                                        {% if appliesFor.status is same as 'Refusée' %}
                                            <p class="line"  style="color: #FAF9F9;">{{ appliesFor.company }}
                                                sur {{ appliesFor.platform.name }}</p>
                                            <p  style="color: #FAF9F9;">Retour le {{ appliesFor.dateReturn|date('d/m/Y') }}</p>
                                        {% else %}
                                            <p style="color: #FAF9F9">{{ appliesFor.company }} sur {{ appliesFor.platform.name }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer" style="background-color: #1f1f1f;">
                                <small class="fst-italic" style="color: #FAF9F9">Envoyée le {{ appliesFor.dateApplyFor|date('d/m/Y') }}</small>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="m-5">
                <a class="hover-underline-animation ms-5" style="color: #1f1f1f" href="{{ path('app_apply_for_index') }}">
                    Voir toutes vos Candidatures</a>
                <a class="hover-underline-animation ms-5" style="color: #1f1f1f" href="{{ path('app_apply_for_new') }}">
                    Ajouter une candidature
                </a>

            </div>

        </div>

    </section>
{% endblock %}
