<div class="border border-1 border-dark px-5 pb-5 bg-white shadow-sm mt-5">

    <div class="row">
        <div class="col-12 d-flex justify-content-between border-bottom mt-5">
            <h3 class="text-uppercase text-start mb-0">Dernières Candidatures</h3>
        </div>
    </div>

    <div class="row row-cols-md-4 g-4 mt-2">
        {% for appliesFor in apply_for | slice(0, 8) %}
            <div class="col">
                <div class="card card-triangle border
                 {% if appliesFor.status is same as 'Envoyée' %}
                 border-primary
                 {% elseif appliesFor.status is same as 'Appel' %}
                 border-warning
                 {% elseif appliesFor.status is same as 'Refusée' %}
                 border-danger
                 {% elseif appliesFor.status is same as 'Acceptée' %}
                 border-success
                 {% elseif appliesFor.status is same as 'Entretien' %}
                 border-info
                 {% elseif appliesFor.status is same as 'Ignorée' %}
                 border-dark
                 {% elseif appliesFor.status is same as 'Relance' %}
                 border-secondary
                 {% endif %}
                 position-relative h-100 shadow-sm rounded-0">
                    {% include 'home/parts/pills.html.twig' %}
                    <div class="card-body">
                        <div class="card-title">
                            {% if appliesFor.status is same as 'Refusée' %}
                                <h5 class="line">{{ appliesFor.jobTitle }}</h5>
                            {% else %}
                                <h5>{{ appliesFor.jobTitle }}</h5>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-footer border
                    {% if appliesFor.status is same as 'Refusée' %}
                        bg-danger text-light
                        {% elseif appliesFor.status is same as 'Envoyée' %}
                        bg-primary text-light
                        {% elseif appliesFor.status is same as 'Acceptée' %}
                        bg-success text-light
                        {% elseif appliesFor.status is same as 'Ignorée' %}
                        bg-dark text-light
                        {% elseif appliesFor.status is same as 'Relance' %}
                        bg-secondary text-light
                        {% elseif appliesFor.status is same as 'Appel' %}
                        bg-warning text-light
                    {% endif %}">
                        {% if appliesFor.company is same as appliesFor.platform %}
                            sur {{ appliesFor.company }}
                        {% else %}
                            {% if appliesFor.status is same as 'Refusée' %}
                                <p class="line">
                                    {{ appliesFor.company }}
                                    sur {{ appliesFor.platform }}</p>
                            {% else %}
                                <p>{{ appliesFor.company }}
                                    sur {{ appliesFor.platform }}</p>
                            {% endif %}
                        {% endif %}

                    </div>
                </div>
            </div>
        {% else %}
            {% include '/macro/noData.html.twig' %}
        {% endfor %}
    </div>

</div>
