<div class="row">
    <div class="col-12 d-flex justify-content-between border-bottom mt-5">
        <h1 class="text-uppercase text-start mb-0">Dernières Candidatures</h1>
        <small class="d-flex align-items-end justify-content-end">
            <a class="mini-link" href="{{ path('app_apply_for_new') }}">Je postule !</a>
        </small>
    </div>
</div>

<div class="row row-cols-md-4 g-4 mt-2">
    {% for appliesFor in apply_for | slice(0, 8) %}
        <div class="col">
            <div class="card card-triangle border
                 {% if appliesFor.status is same as 'Transmise' %}
                 border-primary
                 {% elseif appliesFor.status is same as 'Appel' %}
                 border-warning 
                 {% elseif appliesFor.status is same as 'Refusée' %}
                 border-danger 
                 {% elseif appliesFor.status is same as 'Acceptée' %}
                 border-success 
                 {% elseif appliesFor.status is same as 'Entretien' %}
                 border-info 
                 {% elseif appliesFor.status is same as 'Sans réponse' %}
                 border-dark 
                 {% elseif appliesFor.status is same as 'Relance' %}
                 border-secondary 
                 {% endif %}
                 position-relative h-100 shadow-lg rounded-0">
                {% include 'home/pills.html.twig' %}
                <div class="card-body">
                    <div class="card-title">
                        {% if appliesFor.status is same as 'Refusée' %}
                            <h5 class="line">{{ appliesFor.jobTitle }}</h5>
                        {% else %}
                            <h5>{{ appliesFor.jobTitle }}</h5>
                        {% endif %}
                    </div>
                </div>
                <div class="card-footer border
                    {% if appliesFor.status is same as 'Refusée' %}
                        bg-danger text-light
                        {% elseif appliesFor.status is same as 'Transmise' %}
                        bg-primary text-light
                        {% elseif appliesFor.status is same as 'Acceptée' %}
                        bg-success text-light
                        {% elseif appliesFor.status is same as 'Sans réponse' %}
                        bg-dark text-light
                        {% elseif appliesFor.status is same as 'Relance' %}
                        bg-secondary text-light
                        {% elseif appliesFor.status is same as 'Appel' %}
                        bg-warning text-light
                    {% endif %}">
                    {% if appliesFor.status is same as 'Refusée' %}
                        <p class="line">{{ appliesFor.company }}
                            sur {{ appliesFor.platform }}</p>
                    {% else %}
                        <p>{{ appliesFor.company }}
                            sur {{ appliesFor.platform }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    {% else %}
        {% include '/macro/noData.html.twig' %}
    {% endfor %}
</div>

