<div class="border border-1 border-dark px-5 pt-3 pb-1 bg-white shadow-sm">

<div class="row">
    <div class="col-12 d-flex justify-content-between border-bottom triangle-bottom-left">
        <h3 class="text-uppercase text-start mb-0">{{ totalApplies }} candidatures</h3>
        <div >
            {% include 'home/parts/tools.html.twig' %}
        </div>
    </div>
</div>

<div class="row d-flex align-items-center justify-content-lg-between justify-content-sm-around">

    <div class="card card-apply border-primary mb-3 mt-4 rounded-0" style="max-width: 14rem;">
        <div class="card-body ">
            {% if sentApplies > 1 %}
                <h5 class="card-title">{{ calculatePercentSentApplies }}% envoyées</h5>
                <small class="card-text">{{ sentApplies }} candidatures</small>
            {% else %}
                <h5 class="card-title">{{ calculatePercentSentApplies }}% envoyée</h5>
                <small class="card-text">{{ sentApplies }} candidature</small>
            {% endif %}
        </div>
    </div>

    <div class="card card-apply border-info mb-3 mt-4 rounded-0" style="max-width: 14rem;">
        <div class="card-body ">
            {% if interviewApplies > 1 %}
                <h5 class="card-title">{{ calculatePercentInterviewApplies }}% entretiens</h5>
                <small class="card-text">{{ interviewApplies }} candidatures</small>
            {% else %}
                <h5 class="card-title">{{ calculatePercentInterviewApplies }}% entretien</h5>
                <small class="card-text">{{ interviewApplies }} candidature</small>
            {% endif %}
        </div>
    </div>

    <div class="card card-apply border-warning mb-3 mt-4 rounded-0" style="max-width: 12rem;">
        <div class="card-body ">
            {% if numCall > 1 %}
                <h5 class="card-title">{{ calculatePercentNumberOfCall }}% d'appels</h5>
                <small class="card-text">{{ numCall }} candidatures</small>
            {% else %}
                <h5 class="card-title">{{ calculatePercentNumberOfCall }}% d'appel</h5>
                <small class="card-text">{{ numCall }} candidature</small>
            {% endif %}
        </div>
    </div>

    <div class="card card-apply border-success mb-3 mt-4 rounded-0" style="max-width: 12rem;">
        <div class="card-body ">
            {% if acceptedApplies > 1 %}
                <h5 class="card-title">{{ calculatePercentAcceptedApplies }}% acceptées</h5>
                <small class="card-text">{{ acceptedApplies }} candidatures</small>
            {% else %}
                <h5 class="card-title">{{ calculatePercentAcceptedApplies }}% acceptée</h5>
                <small class="card-text">{{ acceptedApplies }} candidature</small>
            {% endif %}
        </div>
    </div>

    <div class="card card-apply border-dark mb-3 mt-4 rounded-0" style="max-width: 14rem;">
        <div class="card-body ">
            {% if noResponseApplies > 1 %}
                <small class="card-text">{{ noResponseApplies }} candidatures</small>
            {% else %}
                <h5 class="card-title">{{ calculatePercentResponseApplies }}% ignorée</h5>
                <small class="card-text">{{ noResponseApplies }} candidature</small>
            {% endif %}
        </div>
    </div>

    <div class="card card-apply border-danger mb-3 mt-4 rounded-0" style="max-width: 14rem;">
        <div class="card-body">
            {% if refusedApplies > 1 %}
                <h5 class="card-title">{{ calculatePercentRefusedApplies }}% refusées</h5>
                <small class="card-text">{{ refusedApplies }} candidatures</small>
            {% else %}
                <h5 class="card-title">{{ calculatePercentRefusedApplies }}% refusée</h5>
                <small class="card-text">{{ refusedApplies }} candidature</small>
            {% endif %}
        </div>
    </div>
</div>

</div>
