<div class="tools">
    <ul class="d-flex align-items-center justify-content-center shadow-sm border border-dark border-1">
        <li class="m-0 pe-2 ps-2">
            <a data-toggle="tooltip" data-placement="top" title="Mes candidatures"
               href="{{ path('app_apply_for_index') }}">
                <i class="fa-solid fa-user-check" style="color: black"></i>
            </a>
        </li>
        <li class="m-0 pe-2 ps-2 border-end border-dark">
            <a data-toggle="tooltip" data-placement="top" title="Ajouter une candidature"
               href="{{ path('app_apply_for_new') }}">
                <i class="fa-solid fa-square-plus" style="color: black"></i>
            </a>
        </li>
        <li class="m-0 pe-2 ps-2">
            <a data-toggle="tooltip" data-placement="top" title="Mes contacts"
               href="{{ path('app_contact_index') }}">
                <i class="fa-solid fa-handshake" style="color: black"></i>
            </a>
        </li>
        <li class="m-0 pe-2 ps-2 border-end border-dark">
            <a data-toggle="tooltip" data-placement="top" title="Ajouter un contact"
               href="{{ path('app_contact_new') }}">
                <i class="fa-solid fa-square-plus" style="color: black"></i>
            </a>
        </li>
        <li class="m-0 pe-2 ps-2">
            <a data-toggle="tooltip" data-placement="top" title="Les entreprises"
               href="{{ path('app_company_index') }}">
                <i class="fa-solid fa-building" style="color: black"></i>
            </a>
        </li>
        <li class="m-0 pe-2 ps-2 border-end border-dark">
             <a data-toggle="tooltip" data-placement="top" title="Ajouter une entreprise" href="{{ path('app_company_new') }}">
            <i class="fa-solid fa-square-plus" style="color: black"></i>
             </a>
        </li>
        <li class="m-0 pe-2 ps-2">
             <a data-toggle="tooltip" data-placement="top" title="Les plateformes" href="{{ path('app_platform_index') }}">
            <i class="fa-solid fa-magnifying-glass-location" style="color: black"></i>
             </a>
        </li>
        <li class="m-0 pe-2 ps-2">
             <a data-toggle="tooltip" data-placement="top" title="Ajouter une plateforme" href="{{ path('app_platform_new') }}">
            <i class="fa-solid fa-square-plus" style="color: black"></i>
             </a>
        </li>
    </ul>
</div>