{% extends 'base.html.twig' %}

{% block title %}{{ platform.name }}{% endblock %}

{% block body %}

    <section>
        <div class="col px-5">
            <h1 class="title">Modifier {{ platform.name }}</h1>

            <div class="container col-4">

                {{ form_start(form) }}
                {{ form_widget(form) }}

                <div class="m-3">
                    <div class="col d-flex align-items-center justify-content-center">
                        <button class="button me-5 rounded-3 px-3">{{ button_label|default('Enregistrer') }}</button>
                        <a class="button rounded-3 px-3" href="{{ path('app_platform_index') }}">Retour aux plateformes</a>
                    </div>
                </div>

                {{ form_end(form) }}

            </div>
        </div>
    </section>

{% endblock %}
