{% extends 'base.html.twig' %}

{% block title %}Mes plateformes{% endblock %}

{% block body %}

    <div class="container">
        <h1>Mes Plateformes</h1>

        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for platform in platforms %}
                <tr>
                    <td>{{ platform.id }}</td>
                    <td>{{ platform.name }}</td>
                    <td>
                        <div class="d-flex align-items center justify-content_center">
                        <a href="{{ path('app_platform_edit', {'id': platform.id}) }}"><i class="far fa-edit"></i></a>
                         <form method="post" action="{{ path('app_platform_delete', {'id': platform.id}) }}"
                              onsubmit="return confirm('Êtes_vous sur de vouloir supprimer cette candidature ?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ platform.id) }}">
                            <button class="btn border-0 pt-0"><i class="far fa-trash-alt"></i></button>
                        </form>
                    </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <h3 class="fst-italic p-3">
                        <i class="fa fa-arrow-down"></i> Commencez par ajouter une plateforme
                    </h3>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a class="green-button" href="{{ path('app_platform_new') }}">Ajouter une plateforme</a>
        <a class="red-button" href="{{ path('app_apply_for_index') }}">Retour</a>
    </div>

{% endblock %}
