{% extends 'base.html.twig' %}

{% block title %}Mes plateformes{% endblock %}

{% block body %}

    <div class="container pb-5">

        <div class="col-12 d-flex justify-content-between border-bottom mt-5">
            <h1 class="text-uppercase text-start mb-0">Mes Plateformes</h1>
            <small class="d-flex align-items-end justify-content-end">
                <a class="mini-link" href="{{ path('app_platform_new') }}">Nouvelle Plateforme</a>
            </small>
        </div>

        {% include 'apply_for/searchbar.html.twig' %}

        <div class="col">

            <table class="table mb-5 mt-5">
                <thead class="table-light">
                <tr class="table-light">
                    <th class="text-start text-nowrap" scope="col">N°</th>
                    <th class="text-start text-nowrap" scope="col">Nom</th>
                    <th class="text-start text-nowrap" scope="col"></th>
                </tr>
                </thead>

                {% for platform in platforms %}
                    <tbody>
                    <tr>
                        <td>{{ platform.id }}</td>
                        <td class="text-start">{{ platform.name }}</td>
                        <td>
                            <div class="d-flex justify-content-end">
                                <a href="{{ path('app_platform_edit', {'id': platform.id}) }}"><i
                                            class="far fa-edit action"></i></a>
                                <form method="post"
                                      action="{{ path('app_platform_delete', {'id': platform.id}) }}"
                                      onsubmit="return confirm('Êtes_vous sur de vouloir supprimer cette plateforme ?');">
                                    <input type="hidden" name="_token"
                                           value="{{ csrf_token('delete' ~ platform.id) }}">
                                    <button class="btn border-0 pt-0"><i class="action fas fa-trash-alt"></i></button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                {% else %}
                    {% include '/macro/noData.html.twig' %}
                {% endfor %}
            </table>

            <div class="m-3">
                <div class="d-flex align-items-center justify-content-around">
                    <a class="button me-5 hover-underline-animation-navbar a-navbar" href="{{ path('app_apply_for_index') }}"><i
                                class="me-3 fas fa-caret-square-left"></i>Retour</a>
                </div>
            </div>

        </div>

    </div>


{% endblock %}
