{% extends 'base.html.twig' %}

{% block title %}Nouvelle Plateforme{% endblock %}

{% block body %}

    <section>
        <div class="col px-5">
            <h1 class="title">Ajouter une plateforme</h1>
            <div class="container col-6">

                {{ form_start(form) }}
                {{ form_widget(form) }}

                <div class="m-3">
                    <div class="d-flex align-items-center justify-content-center">
                        <button class="button me-5 rounded-3 px-3"><i class="fas fa-save me-3"></i>{{ button_label|default('Enregistrer') }}</button>
                        <a class="button me-5 rounded-3 px-3" href="{{ path('app_platform_index') }}"><i class="me-3 fas fa-caret-square-left"></i>Retour aux plateformes</a>
                        <a class="button rounded-3 px-3" href="{{ path('app_apply_for_index') }}"><i class="me-3 fas fa-caret-square-left"></i>Retour aux candidatures</a>
                    </div>
                </div>
                {{ form_end(form) }}

            </div>
        </div>
    </section>

{% endblock %}
