{% extends 'base.html.twig' %}

{% block title %}Mes Liens{% endblock %}

{% block body %}

    <div class="container pb-5">

        <div class="col-12 d-flex justify-content-between border-bottom mt-5">
            <h1 class="text-uppercase text-start mb-0">Mes liens</h1>
            <small class="d-flex align-items-end justify-content-end">
                <a class="mini-link" href="{{ path('app_add_link') }}">Nouveau lien</a>
            </small>
        </div>

        {% include 'apply_for/searchbar.html.twig' %}

        <div class="col">

            <table class="table mt-5">
                <thead class="table-light">
                <tr>
                    <th class="text-start text-nowrap">Nom</th>
                    <th class="text-start text-nowrap">URL</th>
                    <th class="text-start text-nowrap"></th>
                </tr>
                </thead>

                {% for link in links %}
                    <tbody>
                    <tr>
                        <td>{{ link.name }}</td>
                        <td>{{ link.url }}</td>
                        <td>
                            <div class="d-flex justify-content-start">
                                <a href="{{ path('app_edit_link', {'id': link.id}) }}">
                                    <i class="action fas fa-pen-square me-3"></i>
                                </a>
                                <form method="post" action="{{ path('app_delete_link', {'id': link.id}) }}"
                                      onsubmit="return confirm('Êtes vous sûr(e) de vouloir supprimer ce lien ?');">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ link.id) }}">
                                    <button class="btn border-0 pt-0"><i class="action fas fa-trash"></i></button>
                                </form>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    {% include '/macro/noData.html.twig' %}
                {% endfor %}
            </table>
        </div>

    </div>

{% endblock %}