{% extends 'base.html.twig' %}

{% block title %}Mes Liens{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1><i class="fas fa-user-tie me-3"></i>Mes liens professionnels</h1>

        <div class="btn-group mb-3 mt-3">
            <a class="green-button me-3" href="{{ path('app_index_pro_link') }}">Gestion des liens Professionnels</a>
            <a class="red-button" href="{{ path('app_index_home') }}">Retour</a>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th class="col">#</th>
                <th class="col">Nom</th>
                <th class="col">URL</th>
                <th class="col"></th>
                <th class="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for linksPros in linksPro %}
                <tr>
                    <td class="col">{{ linksPros.id }}</td>
                    <td class="col">{{ linksPros.name }}</td>
                    <td class="col">{{ linksPros.url }}</td>
                    <td class="col"><a href="#"><i class="fas fa-copy"></i></a></td>
                    <td class="col"><a href="{{ linksPros.url }}" target="_blank"><i class="fas fa-desktop"></i></a></td>
                </tr>
            {% else %}
                <tr>
                    <h3 class="fst-italic p-3">
                        <i class="fa fa-arrow-down me-2"></i> Commencez par ajouter un lien
                    </h3>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

    <div class="container">
        <h1><i class="fas fa-cogs m-3"></i>Liens techniques</h1>

        <div class="btn-group mb-3 mt-3">
            <a class="green-button me-3" href="{{ path('app_index_tech_link') }}">Gestion des liens Techniques</a>
            <a class="red-button" href="{{ path('app_index_home') }}">Retour</a>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th class="col">#</th>
                <th class="col">Nom</th>
                <th class="col">URL</th>
                <th class="col"></th>
                <th class="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for linksTechs in linksTech %}
                <tr>
                    <td class="col">{{ linksTechs.id }}</td>
                    <td class="col">{{ linksTechs.name }}</td>
                    <td class="col">{{ linksTechs.url }}</td>
                    <td class="col"><a href="#"><i class="fas fa-copy"></i></a></td>
                    <td class="col"><a href="{{ linksTechs.url }}" target="_blank"><i class="fas fa-desktop"></i></a></td>
                </tr>
            {% else %}
                <tr>
                    <h3 class="fst-italic p-3">
                        <i class="fa fa-arrow-down me-2"></i> Commencez par ajouter un lien
                    </h3>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

    <div class="container">
        <h1><i class="fas fa-user-lock m-3"></i>Liens personnels</h1>

        <div class="btn-group mb-3 mt-3">
            <a class="green-button me-3" href="{{ path('app_index_perso_link') }}">Gestion des liens Personnels</a>
            <a class="red-button" href="{{ path('app_index_home') }}">Retour</a>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th class="col">#</th>
                <th class="col">Nom</th>
                <th class="col">URL</th>
                <th class="col"></th>
                <th class="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for linksPersos in linksPerso %}
                <tr>
                    <td>{{ linksPersos.id }}</td>
                    <td>{{ linksPersos.name }}</td>
                    <td>{{ linksPersos.url }}</td>
                    <td class="col"><a href="#"><i class="fas fa-copy"></i></a></td>
                    <td class="col"><a href="{{ linksPersos.url }}" target="_blank"><i class="fas fa-desktop"></i></a></td>
                </tr>
            {% else %}
                <tr>
                    <h3 class="fst-italic p-3">
                        <i class="fa fa-arrow-down me-2"></i> Commencez par ajouter un lien
                    </h3>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}
