{% extends 'base.html.twig' %}

{% block title %}{{ note.name }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>Modifier "{{ note.name }}"</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}

        <a class="btn btn-sm btn-outline-dark rounded-0" href="{{ path('app_note_index') }}">Retour</a>
    </div>
{% endblock %}