{% extends 'base.html.twig' %}

{% block title %}Ajouter une note{% endblock %}

{% block body %}

    <div class="container pb-5">

        <div class="col-12 d-flex justify-content-between border-bottom mt-5 triangle-bottom-left">
            <h1 class="text-uppercase text-start mb-0">Ajouter une note</h1>
        </div>


        {{ form_start(form) }}

        <div class="m-3 mt-5">
            <div class="row d-justify-content-start justify-content-start">
                <div class="col-lg-8 col-12">{{ form_row(form.name) }}</div>
                <div class="col-lg-4 col-12">{{ form_row(form.created_at) }}</div>
            </div>
        </div>

        {{ form_widget(form) }}

        <div class="m-3">
            <div class="d-flex align-items-center justify-content-center">
                <button class="button me-5 hover-underline-animation-navbar a-navbar"><i
                            class="fas fa-save me-3"></i>{{ button_label|default('Enregistrer') }}</button>
                <a class="button me-5 hover-underline-animation-navbar a-navbar" href="{{ path('app_note_index') }}"><i
                            class="me-3 fas fa-caret-square-left"></i>Retour</a>
            </div>
                </div>
                {{ form_end(form) }}

    </div>
{% endblock %}
