{% extends 'base.html.twig' %}

{% block title %}Contact index{% endblock %}

{% block body %}

    <div class="container pb-5">

        <div class="col-12 d-flex justify-content-between border-bottom mt-5">
            {% if totalContact > 1 %}
                <h1 class="text-uppercase text-start mb-0">{{ totalContact }} Contacts</h1>
            {% else %}
                <h1 class="text-uppercase text-start mb-0">{{ totalContact }} Contact</h1>
            {% endif %}
            <small class="d-flex align-items-end justify-content-end">
                <a class="mini-link" href="{{ path('app_contact_new') }}">Nouveau contact</a>
            </small>
        </div>

        <div class="row">
            {% for contact in contacts %}
                <div class="col-sm-6 mt-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h3 class="card-title"><i class="fas fa-address-card me-3"></i>{{ contact.name }}</h3>
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    {% if contact.phone %}
                                        <p class="card-text"><i class="fas fa-mobile-alt me-3"></i>{{ contact.phone }}
                                        </p>
                                    {% else %}
                                    {% endif %}
                                </div>
                                <div>
                                    {% if contact.email %}
                                        <p class="card-text"><i class="fas fa-envelope me-3"></i>{{ contact.email }}</p>
                                    {% else %}

                                    {% endif %}
                                </div>
                            </div>
                            {% if contact.linkedin %}
                                <a href="{{ contact.linkedin }}" target="_blank"><i
                                            class="fab fa-linkedin me-3"></i>{{ contact.linkedin }}</a>
                            {% else %}

                            {% endif %}
                        </div>
                        <div class="card-footer">
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <a href="{{ path('app_contact_edit', {'id': contact.id}) }}">
                                        <i class="fas fa-pen-square"></i>
                                    </a>
                                </div>
                                <div>
                                    <form method="post" action="{{ path('app_contact_delete', {'id': contact.id}) }}"
                                          onsubmit="return confirm('Are you sure you want to delete this item?');">
                                        <input type="hidden" name="_token"
                                               value="{{ csrf_token('delete' ~ contact.id) }}">
                                        <button class="btn"><i class="fas fa-trash-alt"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>

{% endblock %}
