{% extends 'base.html.twig' %}

{% block title %}Modifier {{ company.name }}{% endblock %}

{% block body %}
    <h1>Modifier {{ company.name }}</h1>

    <div class="container col-4">

        {{ form_start(form) }}
        {{ form_widget(form) }}

        <div class="m-3">
            <div class="col d-flex align-items-center justify-content-center">
                <button class="green-button">{{ button_label|default('Enregistrer') }}</button>
                <a class="red-button" href="{{ path('app_company_index') }}">Retour aux entreprises</a>
            </div>
        </div>

        {{ form_end(form) }}

    </div>

{% endblock %}
