{% extends 'base.html.twig' %}

{% block title %}Mes entreprises{% endblock %}

{% block body %}

    <div class="container">
        <h1>Mes Entreprises</h1>

        <div class="mt-3 mb-3 d-flex align-items-end justify-content-end">
            <a class="green-button" href="{{ path('app_company_new') }}">Ajouter une entreprise</a>
            <a class="red-button" href="{{ path('app_apply_for_index') }}">Retour</a>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for company in companies %}
                <tr>
                    <td>{{ company.id }}</td>
                    <td>{{ company.name }}</td>
                    <td>
                        <div class="d-flex align-items center justify-content_center">
                            <a href="{{ path('app_company_edit', {'id': company.id}) }}"><i class="far fa-edit"></i></a>
                            <form method="post" action="{{ path('app_company_delete', {'id': company.id}) }}"
                                  onsubmit="return confirm('Êtes_vous sur de vouloir supprimer cette entreprise ?');">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ company.id) }}">
                                <button class="btn border-0 pt-0"><i class="far fa-trash-alt"></i></button>
                            </form>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">
                        <h3 class="fst-italic p-3">
                            <i class="fa fa-arrow-down"></i> Commencez par ajouter une entreprise
                        </h3>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}
