{% extends 'base.html.twig' %}

{% block title %}Nouvelle Entreprise{% endblock %}

{% block body %}
    <section>

        <div class="col px-5">
            <h1 class="title">
                <i class="fas fa-plus-square me-3"></i>
                Ajouter une entreprise
            </h1>

            <div class="container col-6">

                {{ form_start(form) }}
                {{ form_widget(form) }}

        <div class="m-3">
            <div class="d-flex align-items-center justify-content-around">
                <button class="button me-5 hover-underline-animation-navbar a-navbar"><i class="fas fa-save me-3"></i>{{ button_label|default('Enregistrer') }}</button>
                <a class="button me-5 hover-underline-animation-navbar a-navbar" href="{{ path('app_company_index') }}"><i class="me-3 fas fa-caret-square-left"></i>Retour aux entreprises</a>
                <a class="button me-5 hover-underline-animation-navbar a-navbar" href="{{ path('app_apply_for_index') }}"><i class="me-3 fas fa-caret-square-left"></i>Retour aux candidatures</a>
            </div>
        </div>
        {{ form_end(form) }}

            </div>
        </div>

    </section>

{% endblock %}
