{% extends 'base.html.twig' %}

{% block title %}Nouvelle Entreprise{% endblock %}

{% block body %}
    <h1>Ajouter une entreprise</h1>

    <div class="container col-6">


        {{ form_start(form) }}
        {{ form_widget(form) }}

        <div class="m-3">
            <div class="d-flex align-items-center justify-content-center">
                <button class="green-button">{{ button_label|default('Enregistrer') }}</button>
                <a class="red-button" href="{{ path('app_company_index') }}">Retour aux entreprises</a>
                <a class="red-button" href="{{ path('app_apply_for_index') }}">Retour aux candidatures</a>
            </div>
        </div>
        {{ form_end(form) }}

    </div>

{% endblock %}
