{% extends 'base.html.twig' %}

{% block title %}Nouvelle Entreprise{% endblock %}

{% block body %}

    <div class="container pb-5">

        <div class="col-12 d-flex justify-content-between border-bottom mt-5">
            <h1 class="text-uppercase text-start mb-0">Mes Entreprises</h1>
            <small class="d-flex align-items-end justify-content-end">
                <a class="mini-link" href="{{ path('app_company_new') }}">Nouvelle Entreprise</a>
            </small>
        </div>

        <div class="col">

            {{ form_start(form) }}
            <div class="m-3 mt-5">
                <div class="row d-flex align-items-center justify-content-center">
                    <div class="col-lg-6 col-12">{{ form_row(form.name) }}</div>
                </div>
            {{ form_widget(form) }}

            <div class="m-3">
                <div class="d-flex align-items-center justify-content-around">
                    <button class="button me-5 hover-underline-animation-navbar a-navbar"><i
                                class="fas fa-save me-3"></i>{{ button_label|default('Enregistrer') }}</button>
                    <a class="button me-5 hover-underline-animation-navbar a-navbar" href="{{ path('app_company_index') }}"><i
                                class="me-3 fas fa-caret-square-left"></i>Retour aux entreprises</a>
                </div>
            </div>
            {{ form_end(form) }}

        </div>

    </div>

{% endblock %}
