{% extends 'base.html.twig' %}

{% block title %}Candidature n°{{ apply_for.id }}{% endblock %}

{% block body %}
<div class="container">
    <h1>{{ apply_for.jobTitle }} chez {{ apply_for.company }}</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="green-button">{{ button_label|default('Enregistrer') }}</button>
    {{ form_end(form) }}

    <a class="red-button mb-5" href="{{ path('app_apply_for_index') }}">Retour</a>
</div>

{% endblock %}
