{% extends 'base.html.twig' %}

{% block title %}Work DashBoard{% endblock %}

{% block body %}
    <section>
        <div class="container-fluid">

            <div class="row">

                {# LES LIENS #}
                <div class="col-2 border-end border-success" id="scroll">

                    <h1>
                        <a href="{{ path('app_link_index') }}">
                            <i class="fas fa-link"></i>
                            Liens
                        </a>
                    </h1>

                    <h5 class="text-decoration-underline mb-3">
                        <a href="{{ path('app_index_pro_link') }}">Liens Professionnels</a>
                    </h5>
                    {% for proLinks in proLink %}
                        <ul>
                            <li><a class="btn-outline-info p-2 rounded-3" href="{{ proLinks.url }}" target="_blank">
                                    {{ proLinks.name }}
                                </a>
                            </li>
                        </ul>
                    {% endfor %}

                    <h5 class="text-decoration-underline mb-3">
                        <a href="{{ path('app_index_tech_link') }}">Liens Techniques</a>
                    </h5>
                      {% for techLinks in techLink %}
                            <ul>
                                <li>
                                    <a class="btn-outline-info p-2 rounded-3" href="{{ techLinks.url }}">{{ techLinks.name }}</a>
                                  </li>
                            </ul>
                      {% endfor %}

                    <h5 class="text-decoration-underline mb-3">
                        <a href="{{ path('app_index_perso_link') }}">Liens personnels</a>
                    </h5>
                      {% for persoLinks in persoLink %}
                            <ul>
                                <li>
                                    <a class="btn-outline-info p-2 rounded-3" class="link-perso" href="{{ persoLinks.url }}" target="_blank">{{ persoLinks.name }}</a>
                                </li>
                            </ul>
                      {% endfor %}
                </div>

                {# NOTES #}
                <div class="col px-5 border-end border-info" id="scroll">
                    <h1>
                        <a href="{{ path('app_note_index') }}">
                            <i class="fas fa-clipboard"></i>
                            Notes
                        </a>
                    </h1>

                    {% for notes in note %}

                        <h3>{{ notes.name }}</h3>
                        <div class="border border-info rounded-0 p-3 mb-3">
                            {% if '/https/' %}
                                <p>{{ notes.note | raw }}</p>
                        {% endif %}
                    </div>
                    {% endfor %}

                </div>

                {# MES CANDIDATURES #}
                <div class="col px-5 order-last" id="scroll">
                    <h1>
                        <i class="fas fa-briefcase"></i>
                        Candidatures
                    </h1>
                    <div class="mb-5">
                        <a class="btn btn-sm btn-outline-success rounded-0" href="#">Exporter en PDF</a>
                        <a class="btn btn-sm btn-outline-success rounded-0" href="{{ path('app_apply_for_new') }}">Ajouter une candidature</a>
                    </div>
                    {% for appliesFor in apply_for|sort((a, b) => b.id <=> a.id) %}
                        <div class="card shadow mb-4 rounded-1 bg-transparent">
                            <div class="card-header">
                                <h5 class="card-title">
                                    <div class="d-flex bd-highlight">
                                        <p class="p-2 w-75 bd-highlight">
                                            {{ appliesFor.jobTitle }} chez {{ appliesFor.company.name }}
                                            <small class="fst-italic">via {{ appliesFor.platform.name }}</small>
                                        </p>

                                        <div class="p-2 flex-shrink-1 bd-highlight">
                                            {% if appliesFor.status is same as 'Transmise' %}
                                                <div class="bg-info p-2 rounded-3">{{ appliesFor.status }}</div>
                                            {% elseif appliesFor.status is same as 'Refusée' %}
                                                <div class="bg-danger p-2 rounded-3">{{ appliesFor.status }}</div>
                                            {% elseif appliesFor.status is same as 'Acceptée' %}
                                                <div class="bg-secondary p-2 rounded-3">{{ appliesFor.status }}</div>
                                            {% elseif appliesFor.status is same as 'En Attente' %}
                                                <div class="bg-danger p-2 rounded-3">{{ appliesFor.status }}</div>
                                            {% elseif appliesFor.status is same as 'Sans réponse' %}
                                                <div class="bg-info p-2 rounded-3">{{ appliesFor.status }}</div>
                                            {% elseif appliesFor.status is same as 'Entretien' %}
                                                <div class="bg-warning p-2 rounded-3">{{ appliesFor.status }}</div>
                                            {% elseif appliesFor.status is same as 'Entretien Tech' %}
                                                <div class="bg-warning p-2 rounded-3">{{ appliesFor.status }}</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </h5>
                            </div>
                            <div class="card-body">
                                {% if appliesFor.name %}
                                    <p class="card-text">Personne à contacter : {{ appliesFor.name }}</p>
                                {% else %}
                                {% endif %}

                                {# Details #}
                                {% if appliesFor.details %}
                                    <p class="card-text">Coordonnées : {{ appliesFor.details }}</p>
                                {% else %}

                                {% endif %}

                                <p>Date de candidature : <span
                                            class="fst-italic">{{ appliesFor.dateApplyFor|date('d/m/Y') }}</span>
                                </p>
                                {% if appliesFor.dateReturn is null %}

                                {% else %}
                                    <p>Date du retour de l'entreprise : <span
                                                class="fst-italic">{{ appliesFor.dateReturn|date('d/m/Y') }}</span></p>
                                {% endif %}
                            </div>
                            <div class="card-footer">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <a class="btn border-0" href="{{ path('app_apply_for_edit', {'id': appliesFor.id}) }}">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="action-icon" fill="none" viewBox="0 0 24 24" stroke="green" stroke-width="2">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
                                            </svg>
                                        </a>
                                        <form method="post" action="{{ path('app_apply_for_delete', {'id': appliesFor.id}) }}" onsubmit="return confirm('Êtes_vous sur de vouloir supprimer cette candidature ?');">
                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ appliesFor.id) }}">
                                            <button class="btn border-0">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="action-icon" fill="none" viewBox="0 0 24 24" stroke="red" stroke-width="2">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                                </svg>
                                            </button>
                                        </form>
                                    </div>
                                    <a href="{{ appliesFor.link }}" target="_blank"
                                       class="btn btn-sm btn-outline-success rounded-0">
                                        Lien vers l'annonce</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>

        </div>
    </section>
{% endblock %}