{% extends 'base.html.twig' %}

{% block title %}Candidature{% endblock %}

{% block body %}

    {# TODO: mettre en place les messages flash #}

    <div class="container pb-5">

        <div class="col-12 d-flex justify-content-between border-bottom mt-5">
            <h1 class="text-uppercase text-start mb-0">Mes candidatures</h1>
            <small class="d-flex align-items-end justify-content-end">
                <a class="mini-link" href="{{ path('app_apply_for_new') }}">Je postule !</a>
            </small>
        </div>

        {% include 'apply_for/searchbar.html.twig' %}


        <div class="col">

            <table class="table mb-5 mt-5">
                <thead class="table-light">
                <tr class="table-light">
                    <th class="text-start text-nowrap" scope="col">Poste</th>
                    <th class="text-start text-nowrap" scope="col">Enterprise</th>
                    <th class="text-start text-nowrap" scope="col">Plateforme</th>
                    <th class="text-start text-nowrap" scope="col">Avancement</th>
                    <th class="text-start text-nowrap" scope="col">Contact</th>
                    <th class="text-start text-nowrap" scope="col"></th>
                </tr>
                </thead>

                {% for appliesFor in apply_for %}
                    <tbody>
                    <tr class="text-start">
                        <td class="text-start">{{ appliesFor.jobTitle }}</td>
                        <td class="text-start">{{ appliesFor.company.name }}</td>
                        <td class="text-start">{{ appliesFor.platform.name }}</td>
                        {% if appliesFor.status is same as 'Refusée' %}
                            <td class="text-start">
                                <div class="d-flex align-items-center justify-content-start">
                                    <span class="dot-refused"></span>
                                    <span class="ms-2">Refusée</span>
                                </div>
                            </td>
                        {% elseif appliesFor.status is same as 'Transmise' %}
                            <td class="text-start">
                                <div class="d-flex align-items-center justify-content-start">
                                    <span class="dot-sent"></span>
                                    <span class="ms-2">Transmise</span>
                                </div>
                            </td>
                        {% elseif appliesFor.status is same as 'Sans réponse' %}
                            <td class="text-start">
                                <div class="d-flex align-items-center justify-content-start">
                                    <span class="dot-noResponse"></span>
                                    <span class="ms-2">Sans réponse</span>
                                </div>
                            </td>
                        {% elseif appliesFor.status is same as 'Appel' %}
                            <td class="text-start">
                                <div class="d-flex align-items-center justify-content-start">
                                    <span class="dot-call"></span>
                                    <span class="ms-2">Appel</span>
                                </div>
                            </td>
                        {% elseif appliesFor.status is same as 'Entretien' %}
                            <td class="text-start">
                                <div class="d-flex align-items-center justify-content-start">
                                    <span class="dot-interview"></span>
                                    <span class="ms-2">Entretien</span>
                                </div>
                            </td>
                        {% elseif appliesFor.status is same as 'Relance' %}
                            <td class="text-start">
                                <div class="d-flex align-items-center justify-content-start">
                                    <span class="dot-boost"></span>
                                    <span class="ms-2">Relance</span>
                                </div>
                            </td>
                        {% elseif appliesFor.status is same as 'Acceptée' %}
                            <td class="text-start">
                                <div class="d-flex align-items-center justify-content-start">
                                    <span class="dot-accepted"></span>
                                    <span class="ms-2">Acceptée</span>
                                </div>
                            </td>
                        {% endif %}

                        {% if appliesFor.contact %}
                            <td>
                                <a href="{{ path('app_contact_index') }}">{{ appliesFor.contact }}</a>
                            </td>
                            {% else %}
                            <td></td>
                        {% endif %}

                        <td class="text-start">
                            <div class="d-flex align-items center justify-content_center">
                                <a class="btn border-0 pt-0" href="{{ appliesFor.link }}" target="_blank">
                                    <i class="action fas fa-link"></i>
                                </a>

                                <a class="btn border-0 pt-0" href="{{ path('app_apply_for_edit', {'id': appliesFor.id}) }}">
                                    <i class="action far fa-edit"></i>
                                </a>

                                <form method="post" action="{{ path('app_apply_for_delete', {'id': appliesFor.id}) }}"
                                      onsubmit="return confirm('Êtes_vous sur de vouloir supprimer cette candidature ?');">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ appliesFor.id) }}">
                                    <button class="btn border-0 pt-0">
                                        <i class="action fas fa-trash-alt"></i>
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                {% else %}
                    <h1 class="text-start">Aucune données. Commencez par ajouter une candidature</h1>
                {% endfor %}
            </table>

        </div>

    </div>



{% endblock %}