{% extends 'base.html.twig' %}

{% block title %}Work DashBoard{% endblock %}

{% block body %}

    <div class="col px-5">
        <h1 class="m-5"><i class="fas fa-briefcase me-3"></i>Candidatures</h1>

        <div class="mb-3">
            <a class="green-button" href="{{ path('app_apply_for_new') }}">Ajouter une candidature</a>
            <a class="green-button" href="{{ path('app_company_new') }}">Ajouter une entreprise</a>
            <a class="green-button" href="{{ path('app_platform_new') }}">Ajouter une plateforme</a>
            {# TODO : créer une fonction pour faire un export en pdf #}
            {# <a class="button" href="#">Exporter en PDF</a> #}
            <a class="red-button" href="{{ path('app_index_home') }}">Retour</a>
        </div>

        <table class="table mx-auto w-auto table-responsive">
            <thead>
            <tr>
                <th class="text-center" scope="col">#</th>
                <th scope="col">Poste</th>
                <th class="text-center" scope="col">Enterprise</th>
                <th class="text-center" scope="col">Plateform</th>
                <th class="text-center" scope="col">Statut</th>
                <th class="text-center" scope="col">Contact</th>
                <th class="text-center" scope="col">Details</th>
                <th class="text-center" scope="col">Date dépôt</th>
                <th class="text-center" scope="col">Date retour</th>
                <th class="text-center" scope="col">Lien</th>
                <th class="text-center" scope="col"></th>
            </tr>
            </thead>
            {% for appliesFor in apply_for|sort((a, b) => b.id <=> a.id) %}
            <tbody>
            <tr class="text-center">
                <td>{{ appliesFor.id }}1</td>
                <td class="text-start">{{ appliesFor.jobTitle }}</td>
                <td class="text-center">{{ appliesFor.company.name }}</td>
                <td class="text-center">{{ appliesFor.platform.name }}</td>
                {% if appliesFor.status is same as 'Transmise' %}
                <td class="text-center bg-info"><div>{{ appliesFor.status }}</div></td>
                {% elseif appliesFor.status is same as 'Refusée' %}
                    <td class="text-center bg-danger text-light"><div>{{ appliesFor.status }}</div></td>
                    {% elseif appliesFor.status is same as 'Acceptée' %}
                        <td class="text-center bg-success"><div>{{ appliesFor.status }}</div></td>
                    {% elseif appliesFor.status is same as 'Sans réponse' %}
                        <td class="text-center bg-dark text-light"><div>{{ appliesFor.status }}</div></td>
                    {% elseif appliesFor.status is same as 'Entretien' %}
                        <td class="text-center bg-warning"><div>{{ appliesFor.status }}</div></td>
                    {% elseif appliesFor.status is same as 'Entretien Tech' %}
                        <td class="text-center bg-warning"><div>{{ appliesFor.status }}</div></td>
                    {% endif %}
                <td class="text-center">
                    {% if appliesFor.name %}
                        <p class="card-text">{{ appliesFor.name }}</p>
                    {% else %}
                        <p class="fst-italic">N/C</p>
                    {% endif %}
                </td>
                <td class="text-center">
                    {% if appliesFor.details %}
                        <p class="card-text">{{ appliesFor.details }}</p>
                    {% else %}
                        <p class="fst-italic">N/C</p>
                    {% endif %}
                </td>
                <td class="text-center">{{ appliesFor.dateApplyFor|date('d/m/Y') }}</td>
                <td class="text-center">
                    {% if appliesFor.dateReturn is null %}
                        <p class="fst-italic">N/C</p>
                    {% else %}
                        {{ appliesFor.dateReturn|date('d/m/Y') }}
                    {% endif %}</td>
                <td class="text-center">
                    <a href="{{ appliesFor.link }}" target="_blank" class="green-button">Lien</a>
                </td>
                <td class="text-center">
                    <div class="d-flex align-items center justify-content_center">
                        <a class="btn border-0 pt-0" href="{{ path('app_apply_for_edit', {'id': appliesFor.id}) }}"><i class="far fa-edit"></i></a>
                        <form method="post" action="{{ path('app_apply_for_delete', {'id': appliesFor.id}) }}"
                              onsubmit="return confirm('Êtes_vous sur de vouloir supprimer cette candidature ?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ appliesFor.id) }}">
                            <button class="btn border-0 pt-0"><i class="far fa-trash-alt"></i></button>
                        </form>
                    </div>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}