{% extends 'base.html.twig' %}

{% block title %}Candidature{% endblock %}

{% block body %}

    <div class="section">

        <div class="col px-5">

            <h1 class="title"><i class="fas fa-briefcase me-3"></i>Candidatures</h1>

            <div class="mb-3 d-flex align-items-end justify-content-end">
                <div class="dropdown">
                    <button class="button px-3" type="button" data-toggle="dropdown" aria-expanded="false">
                        Que souhaitez-vous faire ?
                        <i class="ms-3 fas fa-caret-square-down"></i>
                    </button>
                    <div class="dropdown-menu">
                        <ul>
                            <li><a class="dropdown-item menu" href="{{ path('app_apply_for_new') }}">
                                    <i class="fas fa-briefcase me-3"></i>
                                    Ajouter une candidature</a></li>
                            <li><a class="dropdown-item menu" href="{{ path('app_company_index') }}">
                                    <i class="me-3 fas fa-building"></i>
                                    Mes entreprises</a></li>
                            <li><a class="dropdown-item menu" href="{{ path('app_platform_index') }}">
                                    <i class="fas fa-toolbox me-3"></i>
                                    Mes plateformes</a></li>
                            {# <li> TODO : créer une fonction pour faire un export en pdf </li> #}
                            <li><a class="dropdown-item menu" href="{{ path('app_index_home') }}"><i class="me-3 fas fa-caret-square-left"></i>Retour</a></li>
                        </ul>
                    </div>
                </div>

            </div>

            <table class="table table-borderless mx-auto w-auto table-responsive shadow-lg mb-5 mt-5">
                <thead>
                <tr>
                    <th class="text-center" scope="col">#</th>
                    <th scope="col">Intitulé du Poste</th>
                    <th class="text-center" scope="col">Enterprise</th>
                    <th class="text-center" scope="col">Plateforme</th>
                    <th class="text-center" scope="col">Statut</th>
                    <th class="text-center" scope="col">Contact</th>
                    <th class="text-center" scope="col">Détails</th>
                    <th class="text-center" scope="col">Dépôt</th>
                    <th class="text-center" scope="col">Réponse</th>
                    <th class="text-center" scope="col"></th>
                </tr>
                </thead>
                {% for appliesFor in apply_for %}
                    <tbody>
                    <tr class="text-center">
                        <td>{{ appliesFor.id }}1</td>
                        <td class="text-start">{{ appliesFor.jobTitle }}</td>
                        <td class="text-center">{{ appliesFor.company.name }}</td>
                        <td class="text-center">{{ appliesFor.platform.name }}</td>
                        <td class="text-center">
                            <div class="status rounded-2">{{ appliesFor.status }}</div>
                        </td>
                        <td class="text-center">
                            {% if appliesFor.contact %}
                                <p class="card-text nc">{{ appliesFor.contact }}</p>
                            {% else %}
                                <p class="fst-italic nc">N/C</p>
                            {% endif %}
                        </td>
                        <td class="text-center">
                            {% if appliesFor.details %}
                                <p class="card-text nc">{{ appliesFor.details }}</p>
                            {% else %}
                                <p class="fst-italic nc">N/C</p>
                            {% endif %}
                        </td>
                        <td class="text-center">{{ appliesFor.dateApplyFor|date('d/m/Y') }}</td>
                        <td class="text-center">
                            {% if appliesFor.dateReturn %}
                                {{ appliesFor.dateReturn|date('d/m/Y') }}
                            {% else %}
                                <p class="fst-italic nc">N/C</p>
                            {% endif %}</td>
                        <td class="text-center">
                            <div class="d-flex align-items center justify-content_center">
                                <a class="btn border-0 pt-0" href="{{ appliesFor.link }}" target="_blank">
                                    <i class="action fas fa-link"></i>
                                </a>

                                <a class="btn border-0 pt-0" href="{{ path('app_apply_for_edit', {'id': appliesFor.id}) }}">
                                    <i class="action far fa-edit"></i>
                                </a>

                                <form method="post" action="{{ path('app_apply_for_delete', {'id': appliesFor.id}) }}"
                                      onsubmit="return confirm('Êtes_vous sur de vouloir supprimer cette candidature ?');">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ appliesFor.id) }}">
                                    <button class="btn border-0 pt-0">
                                        <i class="action fas fa-trash-alt"></i>
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                {% endfor %}
            </table>

        </div>

    </div>


    <div class="navigation d-flex align-items-center justify-content-center fixed-bottom">
        {{ knp_pagination_render(apply_for) }}
    </div>

{% endblock %}