{% extends 'base.html.twig' %}

{% block title %}Nouvelle Candidature{% endblock %}

{% block body %}

    <div class="container">
        <h1>Ajouter une candidature</h1>
        {# TODO : !!HERE!! ajouter une div pour mettre les deux boutons sous le titre #}
        {#        <a class="btn btn-sm btn-outline-success rounded-0" href="{{ path('app_platform_index') }}">Ajouter une plateforme</a> #}
        {#        <a class="btn btn-sm btn-outline-success rounded-0" href="{{ path('app_company_index') }}">Ajouter une entreprise</a> #}

        {# TODO : refaire le formulaire pour qu'il soit plus compact #}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}

        <a class="btn btn-sm btn-outline-success mb-5" href="{{ path('app_apply_for_index') }}">Retour</a>

    </div>

{% endblock %}
