{% extends 'base.html.twig' %}

{% block title %}Nouvelle Candidature{% endblock %}

{% block body %}

    <div class="container">
        <h1>Ajouter une candidature</h1>
        {{ form_start(form) }}
        <div class="m-3">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="col-lg-8 col-12">{{ form_row(form.jobTitle) }}</div>
            </div>

        </div>

        <div class="m-3">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="col-lg-4 col-12">{{ form_row(form.platform) }}</div>
                <div class="col-lg-4 col-12">{{ form_row(form.company) }}</div>
            </div>
        </div>

        <div class="m-3">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="col-lg-4 col-12">{{ form_row(form.name) }}</div>
                <div class="col-lg-4 col-12">{{ form_row(form.details) }}</div>
            </div>
        </div>

        <div class="m-3">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="col-lg-8 col-12">{{ form_row(form.link) }}</div>
            </div>
        </div>

        <div class="m-3">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="col-lg-4 col-12">{{ form_row(form.dateApplyFor) }}</div>
                <div class="col-lg-4 col-12">{{ form_row(form.dateReturn) }}</div>
            </div>
        </div>

        <div class="m-3">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="col-lg-4 col-12">{{ form_row(form.status) }}</div>
                <div class="col-lg-4 col-12"></div>
            </div>
        </div>

        <div class="m-3">
            <div class="row d-flex align-items-center justify-content-center">
                <a class="col-lg-2 col-12 btn btn-sm btn-outline-success me-2 mt-2 rounded-0" href="{{ path('app_apply_for_index') }}">Retour</a>
                <a class="col-lg-2 col-12 btn btn-sm btn-outline-success me-2 mt-2 rounded-0" target="_blank" href="{{ path('app_platform_index') }}">Ajouter une plateforme</a>
                <a class="col-lg-2 col-12 btn btn-sm btn-outline-success me-2 mt-2 rounded-0" target="_blank" href="{{ path('app_company_index') }}">Ajouter une entreprise</a>
            </div>
        </div>

        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
