{% extends 'base.html.twig' %}

{% block title %}Nouveau Lien{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="text-end">Ajouter un lien</h1>

        <div class="row">
            <div class="col-8">
                <div class="">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                </div>
            </div>
        </div>

        <button class="green-button">{{ button_label|default('Enregistrer') }}</button>
        {{ form_end(form) }}
        <a class="red-button" href="{{ path('app_index_pro_link') }}">Retour</a>

    </div>
{% endblock %}
